/* .content {
    grid-area: content;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 5%;
    margin: auto;
} */

.top {
    text-align: center;
    padding-top: 1rem;
}

.top-logo {
    max-width: 100%;
    height: auto;
}



.middle {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    background-color: #EFEFEF;

}

.middle .title {
    font-size: 18px;
    font-weight: bold;
    padding-top: 1.5rem;
}

/* .middle-text {
    paddi
} */

.bottom {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 3rem
}
.text-content {
    width: 65%;
    margin: auto;
    padding-bottom: 1.5rem;
}



@media screen and (max-width: 992px) {
    .bottom {
        flex-direction: column;
    }
  }