.home {
    display: flex;
}
.sidebar-wrapper {
    width: 10%;
    background-color: #191718;
    min-width: 150px;
    height: 100vh;
    position: relative;

}
.content-wrapper {
    margin: auto;
    height: 100vh;
    overflow-y: scroll;
    /* padding: 2em */
    overflow-x: hidden;
}
